body {
    background: #F5F5F5!important;
}

.no_padding_top {
    padding-top: 0!important;
}

.no_wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
}

.wrapper {
    display: flex;
    justify-content: center;
    height: 200px;
    align-items: center;
    opacity: 0.6;
}


/* Header */

a {
    font-weight: 500;
    -webkit-transition: 0.2s color;
    transition: 0.2s color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #2B2D42;
    font-weight: 700;
    margin: 0 0 10px;
}

.border-none {
    border: none!important;
}


/* Header-top */

#top-header {
    display: grid;
    background-color: #1E1F29;
    padding-top: 10px;
    padding-bottom: 10px;
}

ul,
ol {
    margin: 0!important;
    padding: 0;
    list-style: none;
}

.header-links li {
    display: inline-block;
    margin-right: 15px;
    font-size: 12px;
}

.header-links li i {
    color: #D10024;
    margin-right: 5px;
}

.header-links li a:hover {
    text-decoration: none;
    color: #D10024;
    transition: 0.2s;
}

.header-links li a {
    color: #FFF;
}

.header-links .dropdown-item {
    color: black;
}


/* Header-main */

#header {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #15161D;
}


/* Header-search */

.header-search {
    padding: 15px 0px;
}

.header-search form .input {
    margin-right: -5px;
    width: calc(100% - 100px);
    border-radius: 40px 0px 0px 40px;
}

.input {
    height: 40px;
    padding: 0px 15px;
    border: 1px solid #E4E7ED;
    background-color: #fff;
    width: 100%;
}


/* Button-submit */

.search-btn {
    height: 41px;
    width: 100px;
    background: #D10024;
    color: #FFF;
    font-weight: 700;
    border: none;
    border-radius: 0px 40px 40px 0px;
}


/* Header-ctn */

.header-ctn {
    display: flex;
    float: right;
    padding: 15px 0pc;
}

.header-ctn .menu-toggle {
    display: none;
}

.header-ctn>div {
    display: inline-block;
}

.header-ctn>div>a {
    display: block;
    color: #FFF;
    position: relative;
    width: 90px;
    text-align: center;
}

.header-ctn>div>a>i {
    display: block;
    font-size: 18px;
}

.header-ctn>div>a>span {
    font-size: 12px;
}

.header-ctn>div>a:hover,
.cta-btn:hover {
    text-decoration: none;
}


/* Button-right-header */

.header-ctn>div>a>.qty {
    position: absolute;
    right: 15px;
    top: -10px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    font-size: 10px;
    color: #FFF;
    background-color: #D10024;
}

.header-ctn>div>a>.qty>i {
    color: #FFF!important;
}


/* Navigation */

#navigation {
    background: #FFF;
    border-bottom: 2px solid #E4E7ED;
    border-top: 3px solid #D10024;
}

.main-nav>li+li {
    margin-left: 30px;
}

.main-nav>li>a {
    color: #D10024;
}

nav>li>a:focus,
.main-nav>li.active>a {
    color: #D10024;
    background-color: transparent;
}

.main-nav>li>a:hover:after,
.main-nav>li>a:focus:after,
.main-nav>li.active>a:after,
.nav__link:after {
    width: 100%;
}

.main-nav>li>a:after {
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background-color: #D10024;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}


/* Section  */

.section {
    padding-top: 30px;
    padding-bottom: 30px;
}

.section-no_padding {
    padding: unset;
}

.shop {
    position: relative;
    overflow: hidden;
    margin: 15px 0px;
}

.shop .shop-img {
    position: relative;
    background-color: #E4E7ED;
    z-index: -1;
}

.shop .shop-img>img {
    width: 100%;
    transition: 0.2s all;
}

.shop:hover .shop-img>img {
    transform: scale(1.2);
}

.shop .shop-body>h3 {
    color: #FFF;
}

.shop .shop-body .cta-btn {
    color: #FFF;
    text-transform: uppercase;
}


/* background red */

.shop::before {
    content: "";
    position: absolute;
    background: #D10024;
    top: 0;
    bottom: 0;
    left: 0px;
    width: 60%;
    opacity: 0.9;
    transform: skewX( -45deg);
}

.shop::after {
    content: "";
    position: absolute;
    background: #D10024;
    top: 0;
    left: 1px;
    width: 100%;
    bottom: 0;
    transform: skewX( -45deg) translateX(-100%);
    opacity: 0.9;
}

.shop .shop-body {
    position: absolute;
    top: 0;
    width: 75%;
    padding: 30px;
    z-index: 10;
}


/* section products */

.section-title {
    padding-bottom: 20px;
}

.section-title .title {
    text-transform: uppercase;
    display: inline-block;
    margin: 0px;
}

.section-title .section-nav {
    float: right;
}

.section-tab-nav li {
    display: inline-block;
    margin-right: 15px;
}

.nav-item>a.active {
    color: #D10024!important;
    border-color: #dee2e6 #dee2e6 #fff;
}

.section-tab-nav li a {
    font-weight: 700;
    color: #8D99AE;
}

.section-tab-nav li a {
    font-weight: 700;
    color: #8D99AE;
}

.section-tab-nav li a:hover {
    text-decoration: none;
}

.section-tab-nav li a:hover:after,
.section-tab-nav li a:focus:after,
.section-tab-nav li a.active:after {
    width: 100%;
}

.section-tab-nav li a:after {
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background-color: #D10024;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}


/* product-slick */

.product {
    margin-bottom: 15px;
    padding: 0!important;
    position: relative;
    border: 1px solid #e4e7ed;
    transition: 0.2s all;
}

.products-slick .slick-list {
    padding-bottom: 60px;
    margin-bottom: -60px;
    z-index: 2;
}

.products-tabs>.tab-panel.active {
    opacity: 1;
    visibility: visible;
    height: auto;
}

.tab-pane.active {
    animation: opac 1.5s
}

@keyframes opac {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.products-tabs>.tab-panel {
    padding-top: 60px;
    padding-bottom: 60px;
}

.products-slick .slick-slide {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 15px;
}

.product .product-img {
    position: relative;
}

.product .product-img>img {
    width: 100%;
    height: 197px;
}

.product .product-img .product-label {
    position: absolute;
    top: 15px;
    right: 15px;
}

.product .product-img .product-label>span {
    border: 2px solid;
    padding: 2px 10px;
    font-size: 12px;
}

.product .product-img .product-label>span.sale {
    background-color: #FFF;
    color: #D10024;
    border-color: #D10024;
}

.product .product-img .product-label>span.new {
    background-color: #D10024;
    border-color: #D10024;
    color: #FFf;
}

.product .product-body {
    position: relative;
    padding: 15px;
    background-color: #FFF;
    text-align: center;
    z-index: 20;
}

.product .product-body .product-category {
    text-transform: uppercase;
    font-size: 12px;
    color: #8D99AE;
}

.product .product-body .product-name {
    text-transform: uppercase;
    font-size: 14px;
    height: 48px;
}

.product .product-body .product-name>a {
    color: #2B2D42;
    font-weight: 700;
}

.product .product-body .product-price {
    color: #D10024;
    font-size: 18px;
}

.product .product-body .product-price .product-old-price {
    color: #8D99AE;
    font-size: 70%;
    font-weight: 400;
}

.product .product-body .product-rating {
    position: relative;
    margin: 15px 0px 10px;
    height: 20px;
}

.product .product-body .product-rating::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    height: 1px;
    background-color: #E4E7ED;
}

.product .product-body .product-rating>i {
    position: relative;
    width: 14px;
    background: #fff;
    z-index: 10;
}

.product .product-body .product-rating .fa-star {
    color: #D10024;
}

.product-btns>button>a {
    color: black;
}

.product .product-body .product-btns>button {
    position: relative;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: transparent;
    border: none;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.product .product-body .product-btns>button:hover {
    background: #e4e0e0;
    border-radius: 50%;
}

.tooltipp {
    position: absolute;
    bottom: 100%;
    left: 50%;
    -webkit-transform: translate(-50%, -15px);
    -ms-transform: translate(-50%, -15px);
    transform: translate(-50%, -15px);
    width: 150px;
    padding: 10px;
    font-size: 12px;
    line-height: 10px;
    background: #1e1f29;
    color: #FFF;
    text-transform: uppercase;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.product .product-body .product-btns>button:hover .tooltipp {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate(-50%, -15px);
    -ms-transform: translate(-50%, -15px);
    transform: translate(-50%, -15px);
}


/* add to cart */

.product .add-to-cart {
    position: absolute;
    left: 1px;
    right: 1px;
    bottom: 1px;
    padding: 15px;
    background: #1e1f29;
    text-align: center;
    transform: translateY(0%);
    transition: 0.2s all;
    z-index: 2;
}

.product .add-to-cart .add-to-cart-btn {
    position: relative;
    border: 2px solid transparent;
    height: 40px;
    padding: 0 30px;
    background-color: #ef233c;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 40px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.product .add-to-cart .add-to-cart-btn:hover {
    background-color: #FFF;
    color: #D10024;
    border-color: #D10024;
    padding: 0px 30px 0px 50px;
}

.product .add-to-cart .add-to-cart-btn>i {
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    line-height: 38px;
    color: #D10024;
    opacity: 0;
    visibility: hidden;
}

.product .add-to-cart .add-to-cart-btn:hover>i {
    opacity: 1;
    visibility: visible;
}

.product:hover .add-to-cart {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
}


/* hot-deal */

.hot-deal .hot-deal-countdown {
    margin-bottom: 30px!important;
}

.hot-deal .hot-deal-countdown>li {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: #D10024;
    text-align: center;
    border-radius: 50%;
    margin: 0px 5px;
}

.hot-deal .hot-deal-countdown>li>div {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.hot-deal .hot-deal-countdown>li>div h3 {
    color: #FFF;
    margin-bottom: 0px;
}

.hot-deal .hot-deal-countdown>li>div span {
    display: block;
    font-size: 10px;
    text-transform: uppercase;
    color: #FFF;
}

.hot-deal p {
    text-transform: uppercase;
    font-size: 24px;
}

.hot-deal .cta-btn {
    display: inline-block;
    background-color: #D10024;
    border-color: #D10024;
    margin-top: 15px;
    padding: 12px 30px;
    border-radius: 40px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.hot-deal .cta-btn:hover {
    background-color: #FFF;
    color: #D10024;
    border-color: #D10024;
}


/* benefit */

#benefit-items {
    border: 1px solid #ebebee;
    margin-top: 45px;
}

.single-benefit {
    padding: 30px 55px 25px 55px;
    border-right: 1px solid#f3f4f0;
}

#benefit-items .single-benefit .sb-icon {
    float: left;
    margin-right: 20px;
}

.sb-icon>img {
    max-width: 100%;
    color: #D10024;
}

#benefit-items .single-benefit .sb-text {
    display: table;
}

#pagination .pagination {
    justify-content: center;
}

.page-item.active .page-link {
    z-index: 1!important;
}


/* partent-logo */

.partent-logo {
    padding: 38px 0;
}

.logo-slick .slick-slide a>img:hover {
    border: 3px solid rgb(240, 58, 58);
    transition: 0.5s;
}

.logo-slick .slick-slide a>img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    max-width: 150px;
}

.logo-slick .slick-list .slick-track {
    display: flex!important;
    align-items: center;
}


/* footer */

#footer {
    background: #15161D;
    color: #B9BABC;
}

.footer {
    margin: 30px 0px;
}

.footer-title {
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    margin: 0px 0px 30px;
}

.footer-links li a {
    color: #B9BABC;
}

.footer-links li a:hover {
    text-decoration: none;
    color: #D10024;
    transition: 0.2s all;
}

.footer-links li+li {
    margin-top: 15px;
}

.footer-links li i {
    margin-right: 15px;
    color: #D10024;
    width: 14px;
    text-align: center;
}

#bottom-footer {
    background: #1E1F29;
}

.footer-payments li {
    display: inline-block;
}

.copyright {
    margin-top: 30px;
    display: block;
    font-size: 12px;
}


/* Responsive */

@media only screen and (max-width:991px) {
    #top-header .container .float-right {
        float: none!important;
    }
    #header .container .row {
        display: block;
    }
    #header .container .row .col-md-3,
    #header .container .row .col-md-6 {
        max-width: none;
    }
    #navigation {
        display: none;
    }
    .header-logo {
        float: none;
        text-align: center;
    }
    .header-ctn .menu-toggle {
        display: inline-block;
    }
    .main-nav {
        padding-top: 60px;
        float: none;
    }
    .main-nav>li>a {
        padding: 15px;
        color: #FFF;
    }
    .main-nav>li+li {
        margin-left: 0px;
    }
    .shop-body h3 {
        font-size: unset;
    }
}

.nav__links {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    height: 100vh;
    width: 250px;
    background: #15161D;
    transform: translateX(-250px);
    transition: transform 0.3s;
    overflow-x: auto;
}

.nav--open .nav__links,
.nav--open-filter .nav__links {
    transform: translateX(0);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.nav__link {
    display: flex;
    align-items: center;
    color: #666666;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    padding: 12px 15px;
    background: transform 0.2s;
}

.nav__link>i {
    margin-right: 15px;
}

.nav__overlay,
.nav__overlay-filter {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
}

.nav--open .nav__overlay,
.nav--open-filter .nav__overlay-filter {
    visibility: visible;
    opacity: 1;
}

.nav__links .nav li a:hover {
    text-decoration: none;
}


/* scroll top */

#backtotop {
    display: none;
    padding: 5px 3px;
    background: #D10024;
    color: #fff;
    position: fixed;
    bottom: 0;
    margin-bottom: 20px;
    right: 5px;
    z-index: 1;
}


/* Modal */

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 400px;
    }
    .modal-dialog .modal-content {
        padding: 1rem;
    }
}

.modal-header .close {
    margin-top: -1.5rem;
}

.form-title {
    margin: -2rem 0rem 2rem;
}

.btn-round {
    border-radius: 3rem;
}

.delimiter {
    padding: 1rem;
}

.social-buttons .btn {
    margin: 0 0.5rem 1rem;
}

.signup-section {
    padding: 0.3rem 0rem;
}

@media only screen and (max-width: 991px) {}

@media only screen and (max-width: 991px) {}